/* ----- Fonts ----- */
@font-face {
    font-family: "Lekton";
    src: url("../fonts/Lekton/Lekton-Regular.ttf");
    font-display: swap;
}

/* ----- Scroll bar ----- */
::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: black;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #f8f9fa;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa;
}

/* ---------------------------------------- Global --------------------------------------- */
#project,
#certification,
#insight,
#link {
    grid-template-rows: auto auto auto 1fr;
    position: absolute;
    display: grid;
    height: 100%;
    z-index: 3;
}

.project-heading,
.cert-heading,
.insight-heading,
.link-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 2 / 1 / 3 / -1;
}

.project-heading h1,
.cert-heading h1,
.insight-heading h1,
.link-heading h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    letter-spacing: 3vw;
    color: #caf0f8;
    opacity: 0.7;
    transition: font-size 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
}

.project-description,
.cert-description,
.insight-description,
.link-description {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 1 / 4 / -1;
    padding: 1.5vw;
}

.project-desc,
.insight-desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-desc h2,
.insight-desc h2 {
    color: #f8f9fa;
    font-size: 3vw;
}

hr {
    width: 90%;
    color: #f8f9fa;
    margin-top: 5vw;
}

.project-description p,
.cert-description p,
.insight-description p,
.link-description p {
    color: #caf0f8;
    opacity: 0.6;
    font-size: 1.2vw;
    letter-spacing: 1.2vw;
    transition: font-size 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
}

.project-description span,
.cert-description span,
.insight-description span,
.link-description span {
    font-size: 1vw;
    opacity: 0.6;
    color: #f8f9fa;
    margin: 0 5vw;
}

.project-navigation,
.cert-navigation,
.insight-navigation,
.link-navigation {
    grid-area: 1 / 1 / 2 / -1;
    height: 7vw;
    transition: all 0.5s ease-in-out;
}

.project-navigation-nav,
.cert-navigation-nav,
.insight-navigation-nav,
.link-navigation-nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 14;
    width: 100%;
    height: 7vw;
}

.project-navigation-anchor,
.cert-navigation-anchor,
.insight-navigation-anchor,
.link-navigation-anchor {
    text-decoration: none;
    color: #f8f9fa;
    opacity: 0.6;
    mix-blend-mode: difference;

    font-size: 1.1vw;
    letter-spacing: 0.3vw;
    transition: font-size 0.5s ease-in-out, letter-spacing 0.5s ease-in-out;
}

.project-navigation-ul,
.cert-navigation-ul,
.insight-navigation-ul,
.link-navigation-ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.project-content,
.cert-content,
.insight-content,
.link-content {
    grid-area: 4 / 1 / 5 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-project,
.cert-project,
.link-project {
    width: 40vw;
    height: auto;
    margin-top: 5vw;
    color: #f8f9fa;
}

.project,
.cert-inner,
.link-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project img,
.cert-project img,
.link-project img {
    width: 85%;
    height: auto;
    transition: box-shadow 0.3s, transform 0.3s;
    object-fit: contain;
}

.project img:hover,
.cert-project img:hover,
.link-project img:hover {
    box-shadow: 0.7vw 0.7vw 0.5vw -0.5vw #f8f9fa;
    transform: translateY(-1.5vw);
    transform: translateX(-1.5vw);
}

.project p,
.cert-project p {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 85%;
    height: 30%;
    font-size: 1.3vw;
    backdrop-filter: blur(30px) saturate(160%);
    -webkit-backdrop-filter: blur(30px) saturate(160%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #f8f9fa;
    pointer-events: none;
    transform: translateY(-1.5vw);
    transform: translateX(-1.5vw);
    opacity: 0;
    margin: 0;
    padding: 0;
}

.project-interaction,
.cert-interaction {
    width: 80%;
}

.project-blur,
.cert-blur {
    filter: blur(3px);
}

.project-disabled,
.cert-disabled {
    pointer-events: none !important;
}

.close-project,
.close-cert {
    position: absolute;
    mix-blend-mode: difference;
    top: 0;
    right: 1vw;
    font-size: 2vw;
    border: none;
    background: none;
    color: white;
    margin: 0;
    padding: 1vw;
}

.project-project-bottom-spacer,
.cert-project-bottom-spacer,
.insight-project-bottom-spacer,
.link-project-bottom-spacer {
    width: 100%;
    height: 10vw;
}

.project-navigation-bar-icon,
.cert-navigation-bar-icon,
.insight-navigation-bar-icon,
.link-navigation-bar-icon {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 2.5vw;
    width: 5vw;
    top: 3vw;
    left: 3vw;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 15;
}

.no-scroll {
    overflow: hidden;
}

.up,
.down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up1,
.up2,
.up3,
.down1,
.down2,
.down3 {
    width: 0.4vw;
    height: 0.4vw;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

/* ---------------------------------------- Project -------------------------------------- */
.project ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5vw;
    padding: 0;
    width: 85%;
    height: auto;
    list-style: none;
    transform: translateY(-1.5vw);
    transform: translateX(-1.5vw);
}

.project a {
    text-decoration: none;
    top: 1vw;
    color: #f8f9fa;
    background-color: #000;
    font-size: 2vw;
    font-weight: bold;
    margin: 0;
    padding: 0.7vw 2vw;
    opacity: 0;
    border: 1px solid #f8f9fa;
}

.project a:hover {
    box-shadow: 0.1vw 0.5vw 0.5vw -0.5vw #f8f9fa;
}
.project-interaction a {
    mix-blend-mode: difference;
    opacity: 1;
}

.project-navigation-bar-icon.toggled .up2 {
    transform: translateY(1vw);
}

.project-navigation-bar-icon.toggled .up3 {
    transform: translateY(2.1vw);
}

.project-navigation-bar-icon.toggled .down2 {
    transform: translateY(-1.1vw);
}

.project-navigation-bar-icon.toggled .down3 {
    transform: translateY(-2.11vw);
}
/* -------------------------------------- Certification ---------------------------------- */
.cert-heading h1 {
    font-size: 6vw;
    letter-spacing: 2vw;
}

#open-learn {
    width: 45%;
}

#codetantra {
    width: 50%;
}

.cert-navigation-bar-icon.toggled .up2 {
    transform: translateY(1vw);
}

.cert-navigation-bar-icon.toggled .up3 {
    transform: translateY(2.1vw);
}

.cert-navigation-bar-icon.toggled .down2 {
    transform: translateY(-1.1vw);
}

.cert-navigation-bar-icon.toggled .down3 {
    transform: translateY(-2.11vw);
}

/* ---------------------------------------- Insight -------------------------------------- */
.insight-project {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: calc(10% / 2);
    color: #f8f9fa;
}

.insight-project img,
.insight-project p {
    width: 100%;
}

.main-para {
    font-family: "Lekton", monospace;
    font-size: 1vw;
    letter-spacing: 0.15vw;
}

.skills-div > div {
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.skills-div > div:hover {
    box-shadow: 0.7vw 0.7vw 0.5vw -0.5vw #f8f9fa;
    transform: translateY(-1.5vw);
    transform: translateX(-1.5vw);
}

.insight-navigation-bar-icon.toggled .up2 {
    transform: translateY(1vw);
}

.insight-navigation-bar-icon.toggled .up3 {
    transform: translateY(2.1vw);
}

.insight-navigation-bar-icon.toggled .down2 {
    transform: translateY(-1.1vw);
}

.insight-navigation-bar-icon.toggled .down3 {
    transform: translateY(-2.11vw);
}

/* ---------------------------------------- Link ----------------------------------------- */
.link-project {
    height: 25vw;
}

.link-project img {
    width: 100%;
}

.link-project a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.link-navigation-bar-icon.toggled .up2 {
    transform: translateY(1vw);
}

.link-navigation-bar-icon.toggled .up3 {
    transform: translateY(2.1vw);
}

.link-navigation-bar-icon.toggled .down2 {
    transform: translateY(-1.1vw);
}

.link-navigation-bar-icon.toggled .down3 {
    transform: translateY(-2.11vw);
}

/* ----------------------------------- Responsive Design --------------------------------- */
/* 3xs */
@media (min-width: 200px) and (max-width: 319px) {
    .main-para {
        font-size: 4vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        top: 5vw;
        left: 5vw;
    }

    .project-heading h1,
    .link-heading h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    .cert-heading h1 {
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }

    .insight-heading h1 {
        font-size: 1.7rem;
        letter-spacing: 0.8rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.4rem;
        letter-spacing: 0.1rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 0.5rem;
        font-size: 0.23rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        display: flex;
    }

    .project-navigation-ul,
    .cert-navigation-ul,
    .insight-navigation-ul,
    .link-navigation-ul {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: black;
        transform: translateX(100%);
        z-index: 10;
        backdrop-filter: blur(30px) saturate(160%);
        -webkit-backdrop-filter: blur(30px) saturate(160%);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.7rem;
        letter-spacing: 0.5rem;
    }

    .project-navigation-ul.active,
    .cert-navigation-ul.active,
    .insight-navigation-ul.active,
    .link-navigation-ul.active {
        transform: translateX(0);
    }

    .project-project,
    .cert-project,
    .link-project {
        width: 80vw;
        margin-top: 7vw;
    }

    .link-project {
        height: 40vw;
    }

    .project p,
    .cert-project p {
        font-size: 3.5vw;
    }

    .project a {
        font-size: 3vw;
    }
}

/* 2xs */
@media (min-width: 320px) and (max-width: 460px) {
    .main-para {
        font-size: 4vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        top: 5vw;
        left: 5vw;
    }

    .project-heading h1,
    .link-heading h1 {
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    .cert-heading h1 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .insight-heading h1 {
        font-size: 1.7rem;
        letter-spacing: 0.8rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.6rem;
        letter-spacing: 0.2rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 0.5rem;
        font-size: 0.23rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        display: flex;
    }

    .project-navigation-ul,
    .cert-navigation-ul,
    .insight-navigation-ul,
    .link-navigation-ul {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: black;
        transform: translateX(100%);
        z-index: 10;
        backdrop-filter: blur(30px) saturate(160%);
        -webkit-backdrop-filter: blur(30px) saturate(160%);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.7rem;
        letter-spacing: 0.5rem;
    }

    .project-navigation-ul.active,
    .cert-navigation-ul.active,
    .insight-navigation-ul.active,
    .link-navigation-ul.active {
        transform: translateX(0);
    }

    .project-project,
    .cert-project,
    .link-project {
        width: 80vw;
        margin-top: 7vw;
    }

    .link-project {
        height: 40vw;
    }

    .project p,
    .cert-project p {
        font-size: 3vw;
    }

    .project a {
        font-size: 3vw;
    }
}

/* xs */
@media (min-width: 461px) and (max-width: 595px) {
    .main-para {
        font-size: 3vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        top: 5vw;
        left: 5vw;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        font-size: 3rem;
        letter-spacing: 1rem;
    }

    .cert-heading h1 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        letter-spacing: 0.2rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.5rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 0.7rem;
        font-size: 0.3rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        display: flex;
    }

    .project-navigation-ul,
    .cert-navigation-ul,
    .insight-navigation-ul,
    .link-navigation-ul {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: black;
        transform: translateX(100%);
        z-index: 10;
        backdrop-filter: blur(30px) saturate(160%);
        -webkit-backdrop-filter: blur(30px) saturate(160%);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.7rem;
        letter-spacing: 0.5rem;
    }

    .project-navigation-ul.active,
    .cert-navigation-ul.active,
    .insight-navigation-ul.active,
    .link-navigation-ul.active {
        transform: translateX(0);
    }

    .project-project,
    .cert-project,
    .link-project {
        width: 80vw;
        margin-top: 7vw;
    }

    .link-project {
        height: 40vw;
    }

    .project p,
    .cert-project p {
        font-size: 3vw;
    }

    .project a {
        font-size: 2.5vw;
    }
}

/* sm */
@media (min-width: 596px) and (max-width: 767px) {
    .main-para {
        font-size: 2.3vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        top: 5vw;
        left: 5vw;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        font-size: 3.5rem;
    }

    .cert-heading h1 {
        font-size: 2.8rem;
        letter-spacing: 0.6rem;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        letter-spacing: 1rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        letter-spacing: 0.2rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.8rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 0.9rem;
        font-size: 0.4rem;
    }

    .project-navigation-bar-icon,
    .cert-navigation-bar-icon,
    .insight-navigation-bar-icon,
    .link-navigation-bar-icon {
        display: flex;
    }

    .project-navigation-ul,
    .cert-navigation-ul,
    .insight-navigation-ul,
    .link-navigation-ul {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: black;
        transform: translateX(100%);
        z-index: 10;
        backdrop-filter: blur(30px) saturate(160%);
        -webkit-backdrop-filter: blur(30px) saturate(160%);
        background-color: rgba(0, 0, 0, 0.3);
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.9rem;
        letter-spacing: 0.5rem;
    }

    .project-navigation-ul.active,
    .cert-navigation-ul.active,
    .insight-navigation-ul.active,
    .link-navigation-ul.active {
        transform: translateX(0);
    }

    .project-project,
    .cert-project {
        width: 80vw;
        margin-top: 7vw;
    }

    .link-project {
        width: 45vw;
        height: 25vw;
        margin-top: 3vw;
    }

    .project p,
    .cert-project p {
        font-size: 2.5vw;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
    .main-para {
        font-size: 2vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        letter-spacing: 1.5rem;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        font-size: 4rem;
    }

    .cert-heading h1 {
        font-size: 3.5rem;
        letter-spacing: 0.7rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        letter-spacing: 0.3rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.7rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 1rem;
        font-size: 0.5rem;
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.9rem;
        letter-spacing: 0.5rem;
    }

    .project p,
    .cert-project p {
        font-size: 2vw;
    }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
    .main-para {
        font-size: 1.5vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        letter-spacing: 1.7rem;
    }

    .cert-heading h1 {
        font-size: 4rem;
        letter-spacing: 1.4rem;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        font-size: 5rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        letter-spacing: 0.4rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.8rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 4rem;
        font-size: 0.6rem;
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.7rem;
        letter-spacing: 0.3rem;
        margin: 0 0.75rem;
    }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1550px) {
    .main-para {
        font-size: 1.5vw;
    }

    .project-navigation,
    .cert-navigation,
    .insight-navigation,
    .link-navigation,
    .project-navigation-nav,
    .cert-navigation-nav,
    .insight-navigation-nav,
    .link-navigation-nav {
        height: 7rem;
    }

    .project-heading h1,
    .insight-heading h1,
    .link-heading h1 {
        font-size: 6rem;
        letter-spacing: 1.9rem;
    }

    .cert-heading h1 {
        font-size: 5rem;
        letter-spacing: 1.5rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        letter-spacing: 0.4rem;
    }

    .project-description p,
    .cert-description p,
    .insight-description p,
    .link-description p {
        font-size: 0.9rem;
    }

    .project-description span,
    .cert-description span,
    .insight-description span,
    .link-description span {
        margin: 0 6rem;
        font-size: 0.7rem;
    }

    .project-navigation-anchor,
    .cert-navigation-anchor,
    .insight-navigation-anchor,
    .link-navigation-anchor {
        font-size: 0.9rem;
        letter-spacing: 0.25rem;
    }
}
